/* Titan One */
@font-face {
  font-family: "Titan One";
  src: url("../public/Fonts/TitanOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Pompiere */
@font-face {
  font-family: "Pompiere";
  src: url("../public/Fonts/Pompiere-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme inline {
  --font-titan: var(--ff-titan);
  --font-pompiere: var(--ff-pompiere);

  --color-vert-clair: var(--clr-light-green);
  --color-blanc-casse: var(--clr-broken-white);
}

@layer base {
  :root {
    --ff-titan: "Titan One", sans-serif;
    --ff-pompiere: "Pompiere", sans-serif;

    --clr-broken-white: #f0e6d8;
    --clr-light-green: hsl(145, 100% 50%);
  }
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: var(--ff-titan);
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* CSS pour faire marcher le scroll horizontal */
body {
  margin: 0;
  height: 100vh;
}
.wrapper {
  overflow-x: hidden;
  position: relative;
}
* {
  box-sizing: border-box;
}

svg {
  position: absolute;
  top: 12em;
  left: 10vw;
  width: 50vw;

  .mask {
    width: 0;
  }
}

.container {
  display: flex;
  width: 300vw;

  .col {
    display: flex;
    gap: 3em;

    p {
      font-size: 0.8rem;
    }
  }

  .pin {
    width: 100vw;
    padding: 20vw 10vw;

    h1 {
      font-size: 3rem;
      margin: 0;
    }

    p {
      font-size: 1.2rem;
      width: 50vw;
    }

    ul {
      list-style-type: none;
      display: flex;
      gap: 3em;
      width: 100%;
      height: 300px;
      padding: 0;

      li {
        border-radius: 0.3em;
        flex-grow: 1;
      }
    }
  }
}

section {
  height: 100vh;
}
